#override("title")
SpringWind 管理系统 SSM 框架
#end
#override("breadcrumb")
<li class="active"><strong>介绍说明</strong></li>
#end
#override("content")
<div class="row">
	<img alt="spring-wind" src="#springUrl('/static/img/spring-wind.png')" style="width: 20%">
	<!-- <img alt="spring-wind" src="#springUrl('/static/img/timg.jpg')" style="width: 20%"> -->
	
	
</div>
<div class="row">
	<br> <br>酒店客房管理系统<br>
	<br>
</div>
<div class="row">
	<br>《春风》<br> 春风如贵客，一到便繁华。<br> 来扫千山雪，归留万国花。<br>
	<br><br><br>
</div>
#end
#extends("/common/framework.html")
